/* --- ADAPTACION A OTRAS PANTALLAS --- */

/* Pantallas con un ancho maximo de 426 px */

@media only screen and (max-width:426px) {

  /* --- GENERAL --- */
  header{padding-top: 3vh;}

  .h3, h3 {font-size: calc(0.8rem + .6vw);}

  /* --- PAGINAS DE CONTENIDO --- */

  .contentBox .pageHeader {background-position: -200px 0px;}

  /* --- HOME --- */
  
  .presentacion-section {margin: 0px 20px 0px 20px;}

  .principal-section{
    margin: 0px 0px;
    
   .image-principal{
      width: 100%;
      left: -50vw;
    }
  }

  /* --- NOSOTROS --- */

  /* --- GALERIA --- */

  .contentBox .content-image-grid {display: block;}

  /* --- CONTACTO --- */

  .contentBox .form-section {
    display: grid;
    margin: 20px 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
  }
}
