/* --- ADAPTACION A OTRAS PANTALLAS --- */

/* Pantallas con un ancho minimo de 1024 px */

@media only screen and (min-width: 1024px) {

  /* --- IMPORT --- */ 
  @import "animaciones";

  /* --- GENERAL --- */

  header{padding-top: 5vh;}

  main{
    margin-top: 2vh;
  }

  .h3, h3 {font-size: 1.25rem;}

  /* Menu */

  body .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: center;
  }

  /* --- PAGINAS DE CONTENIDO ---*/

  .contentBox .pageHeader{background-position: 0px 0px;}

  /* --- HOME --- */

  .presentacion-section {margin: -80px 20vh 10vh 20vh;}

  .principal-section .image-principal{width: 85vw;}

    .text-grayscale {background-color:$colorNeutroSecundarioTransparency;}

  /* --- NOSOTROS --- */

  /* --- GALERIA ---- */

   .contentBox .content-image-grid {
    grid-template-columns: 25vw 25vw 25vw;

    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { 
      grid-column: 3;
        grid-row: 1/2; 
      }
    .div3 { grid-area: 2 / 3 / 3 / 3; }
    .div4 { 
      grid-column: 2/4;
        grid-row: 4/6;
      }
    .div5 { 
      grid-column: 1/1;
        grid-row: 4/4;
      }
    .div6 { 
      grid-column: 1;
        grid-row: 5/6;
      }
    .div7 { grid-area: 3 / 2 / 3 / 1; }
    .div8 { grid-area: 3 / 2 / 3 / 3; }
    .div9 { grid-area: 3 / 3 / 3 / 3; }
  }

  /*CONTACTO*/

  .contentBox .form-section {
    display: grid;
    padding: 3vh;
  }

}
