/* --- ADAPTACION A OTRAS PANTALLAS --- */

/* Pantallas con un ancho minimo de 427 px y un maximo de 1023 px */

@media only screen and (min-width: 427px) and (max-width: 1023px){

  /* --- IMPORT --- */ 
  
  @import "animaciones";

  /* --- GENERAL --- */

  header{padding-top: 3vh;}

  main{
    margin-top: 2vh;
  }

  .h3, h3 {font-size: calc(0.9rem + .6vw);}

  /* --- PAGINAS DE CONTENIDO --- */

  .contentBox .pageHeader {background-position: -145px 0px;}

  /* --- HOME --- */

  .presentacion-section {margin: -50px 10vh 10vh 10vh;}

  .principal-section .image-principal{width: 100%;}

  .text-grayscale {background-color:$colorNeutroSecundarioTransparency;}

  /* --- NOSOTROS --- */


  /* --- GALERIA --- */

  .contentBox .content-image-grid{
    grid-template-columns: calc((75vw + 12px)/2) calc((75vw + 12px)/2);
    grid-template-rows: auto;

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 2 / 3; }
    .div4 { grid-area: 4 / 1 / 4 / 3; }
    .div9 { grid-area: 5 / 1 / 5 / 3; }
    .div5,.div6,.div7,.div8 { display: none;}

  }

}
