/* --- VARIABLES --- */
$colorPrincipal: #022e60;
$colorPrincipalHover:#4D72A5;
$colorSecundario:#F5E253;
$colorSecundarioHover:#FFF0AD;
$colorAntagonico: #92E3E8;
$colorAntagonicoStrong: #54b4bf;
$colorNeutroPrincipal: white;
$colorNeutroPrincipalTransparency: #ffffffcc;
$colorNeutroSecundario:  black;
$colorNeutroSecundarioTransparency:#cececeb5;

$fontFamilyPrincipal: 'Calibri', cursive;
$fontFamilyResalte: 'Gochi Hand', cursive;
$fontFamilyResalteSecundaria:'Homemade Apple', cursive;